
/* styling for small sized screen */
@media screen and (max-width: 500px) {


    ul {
    display: flex;
    list-style-type: none;
    width: 500px;
    justify-content: space-around;
    font-size: 20px;
    }

    ul.show {
        display: block;
    }

    nav {
        background-color: #FFEFF0;
    }

    .logo {
        display: none;
    }

.hero {
    background-color: #FFEFF0;
    height: 100vh;
    color: black;
    font-size: 20px;
}




.hero {
    background-color: #FFEFF0;
    height: 100vh;
    color: black;
    font-size: 40px;
}

footer {
    background-color: #FFEFF0;
    color: black;
    text-align: center;
    padding: 80px;
}

nav {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    list-style-type: none;
    width: 500px;
    justify-content: space-around;
    font-size: 30px;
}

li {
    text-decoration: none;
}

h1 {
    font-size: 90px;
    margin: 0;
}

h2 {
    font-size: 50px;
}

p {
    margin: 0;
    font-size: 30px;
    font-weight: 300;
}

.subtext {
    font-size: 15px;
    font-weight: 300;
}

.hero-area {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.hero-text {
    margin-left: 80px;
    margin-bottom: 200px;
}

.button {
    width: 200px;
    height: 55px;
    border-radius: 30px;
    background-color: #F0ADA4;
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    padding-top: 5px;
    margin-top: 20px;
}

.button:hover {
    background-color: #eb9d93;
}

.button:active {
    background-color: #E1EAEE;
    color: #b5bdc0;
}

.socials {
    padding-bottom: 200px;
}

.logo {
    height: 80px;
    margin: 30px;
}

.social {
    margin: 20px;
}

.sub-section {
    display: flex;
    justify-content: space-around;
    padding: 80px;
}

.sub-section-alternative {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 80px;
}

.headshot {
    width: 300px;
    border-radius: 150px;
    margin-left: 80px;
}

.headshot-container {
    display: flex;
    align-items: center;
}

.project-card {
    width: 300px;
    height: 500px;
    box-shadow: 5px 5px 20px rgb(197, 195, 195);
    margin: 10px;
}

.project-container {
    display: flex;
    justify-content: space-around;
}


.project-image {
    margin-top: 25px;
    width: 250px;
    border-radius: 125px;
}

hr {
    margin-left: 20px;
    margin-right: 20px;
}








}




@media screen and (max-width: 999px) and (min-width: 501px) {

.hero {
    background-color: #FFEFF0;
    height: 100vh;
    color: black;
    font-size: 40px;
}

footer {
    background-color: #FFEFF0;
    color: black;
    text-align: center;
    padding: 80px;
}

nav {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    list-style-type: none;
    width: 500px;
    justify-content: space-around;
    font-size: 30px;
}

li {
    text-decoration: none;
}

h1 {
    font-size: 90px;
    margin: 0;
}

h2 {
    font-size: 50px;
}

p {
    margin: 0;
    font-size: 30px;
    font-weight: 300;
}

.subtext {
    font-size: 15px;
    font-weight: 300;
}

.hero-area {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.hero-text {
    margin-left: 80px;
    margin-bottom: 200px;
}

.button {
    width: 200px;
    height: 55px;
    border-radius: 30px;
    background-color: #F0ADA4;
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    padding-top: 5px;
    margin-top: 20px;
}

.button:hover {
    background-color: #eb9d93;
}

.button:active {
    background-color: #E1EAEE;
    color: #b5bdc0;
}

.socials {
    padding-bottom: 200px;
}

.logo {
    height: 80px;
    margin: 30px;
}

.social {
    margin: 20px;
}

.sub-section {
    display: flex;
    justify-content: space-around;
    padding: 80px;
}

.sub-section-alternative {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 80px;
}

.headshot {
    width: 300px;
    border-radius: 150px;
    margin-left: 80px;
}

.headshot-container {
    display: flex;
    align-items: center;
}

.project-card {
    width: 300px;
    height: 500px;
    box-shadow: 5px 5px 20px rgb(197, 195, 195);
    margin: 10px;
}

.project-container {
    display: flex;
    justify-content: space-around;
}


.project-image {
    margin-top: 25px;
    width: 250px;
    border-radius: 125px;
}

hr {
    margin-left: 20px;
    margin-right: 20px;
}

}







@media screen and (min-width: 1000px) {


    .hero {
        background-color: #FFEFF0;
        height: 100vh;
        color: black;
        font-size: 40px;
    }

    footer {
        background-color: #FFEFF0;
        color: black;
        text-align: center;
        padding: 80px;
    }

    nav {
        display: flex;
        justify-content: space-between;
    }

    ul {
        display: flex;
        list-style-type: none;
        width: 500px;
        justify-content: space-around;
        font-size: 30px;
    }

    li {
        text-decoration: none;
    }

    h1 {
        font-size: 90px;
        margin: 0;
    }

    h2 {
        font-size: 50px;
    }

    p {
        margin: 0;
        font-size: 30px;
        font-weight: 300;
    }

    .subtext {
        font-size: 15px;
        font-weight: 300;
    }

    .hero-area {
        display: flex;
        height: 100%;
        justify-content: space-between;
        align-items: center;
    }

    .hero-text {
        margin-left: 80px;
        margin-bottom: 200px;
    }

    .button {
        width: 200px;
        height: 55px;
        border-radius: 30px;
        background-color: #F0ADA4;
        text-align: center;
        font-size: 30px;
        font-weight: 300;
        padding-top: 5px;
        margin-top: 20px;
    }

    .button:hover {
        background-color: #eb9d93;
    }

    .button:active {
        background-color: #E1EAEE;
        color: #b5bdc0;
    }

    .socials {
        padding-bottom: 200px;
    }

    .logo {
        height: 80px;
        margin: 30px;
    }

    .social {
        margin: 20px;
    }

    .sub-section {
        display: flex;
        justify-content: space-around;
        padding: 80px;
    }

    .sub-section-alternative {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 80px;
    }

    .headshot {
        width: 300px;
        border-radius: 150px;
        margin-left: 80px;
    }

    .headshot-container {
        display: flex;
        align-items: center;
    }

    .project-card {
        width: 300px;
        height: 500px;
        box-shadow: 5px 5px 20px rgb(197, 195, 195);
        margin: 10px;
    }

    .project-container {
        display: flex;
        justify-content: space-around;
    }

    .project-image {
        margin-top: 25px;
        width: 250px;
        border-radius: 125px;
    }

    hr {
        margin-left: 20px;
        margin-right: 20px;
    }

}






















body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

section {
    background-color: white;
}

.hero {
    background-color: #FFEFF0;
    height: 100vh;
    color: black;
    font-size: 40px;
}

footer {
    background-color: #FFEFF0;
    color: black;
    text-align: center;
    padding: 80px;
}

nav {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    list-style-type: none;
    width: 500px;
    justify-content: space-around;
    font-size: 30px;
}

li {
    text-decoration: none;
}

h1 {
    font-size: 90px;
    margin: 0;
}

h2 {
    font-size: 50px;
}

p {
    margin: 0;
    font-size: 30px;
    font-weight: 300;
}

.subtext {
    font-size: 15px;
    font-weight: 300;
}

.hero-area {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.hero-text {
    margin-left: 80px;
    margin-bottom: 200px;
}

.button {
    width: 200px;
    height: 55px;
    border-radius: 30px;
    background-color: #F0ADA4;
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    padding-top: 5px;
    margin-top: 20px;
}

.button:hover {
    background-color: #eb9d93;
}

.button:active {
    background-color: #E1EAEE;
    color: #b5bdc0;
}

.socials {
    padding-bottom: 200px;
}

.logo {
    height: 80px;
    margin: 30px;
}

.social {
    margin: 20px;
}

.sub-section {
    display: flex;
    justify-content: space-around;
    padding: 80px;
}

.sub-section-alternative {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 80px;
}

.headshot {
    width: 300px;
    border-radius: 150px;
    margin-left: 80px;
}

.headshot-container {
    display: flex;
    align-items: center;
}

.project-card {
    width: 300px;
    height: 500px;
    box-shadow: 5px 5px 20px rgb(197, 195, 195);
    margin: 10px;
}

.project-container {
    display: flex;
    justify-content: space-around;
}






.project-image {
    margin-top: 25px;
    width: 250px;
    border-radius: 125px;
}

hr {
    margin-left: 20px;
    margin-right: 20px;
}

.project-link {
    text-decoration: none;
    color: #ef744b;
}

a {
    text-decoration: none;
    color: black;
}








div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}
